body{
    background-image: linear-gradient(#89d0fd, rgba(0, 0, 0, 0.534));
    background-size: cover;
    font: normal 15pt 'Calibri';
    margin: 0;
    height: 100vh;
}

header{
    color: white;
    text-align: center;
    

}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.253);

}

footer{
    color: white;
    font-style: italic;
    text-align: center;

}

div{
    text-align: center;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}